<div class="footer">
  <div class="social-media">
    <!-- <span class="tw">
      <a href="xxx"><fa-icon [icon]="faTwitter" size="3x"></fa-icon></a>
    </span>
    <span class="fb">
      <a href="xxx">
        <fa-icon [icon]="faFacebookSquare" size="3x"> </fa-icon>
      </a>
    </span> -->
    <span class="inst">
      <a href="https://www.instagram.com/mkfotografia.pl/" target="_blank">
        <fa-icon [icon]="faInstagram" size="3x"> </fa-icon>
      </a>
    </span>
  </div>
  <div class="stopka">
    <div class="kontakt">
      <a routerLink="/kontakt">Kontakt</a>
    </div>
    © Magdalena Kordalewska 2022
    <br />
    Wszelkie prawa zastrzeżone.
  </div>
</div>
