.footer {
  margin-top: 50px;
  height: 250px;
  width: 100%;
  background: rgb(233, 247, 244);
}

.social-media {
  text-align: center;
  padding: 50px 0;
}

.social-media a {
  margin: 0 16px;
  color: black;
}

.social-media a:visited {
  color: black;
}

.tw a:hover {
  color: #1da1f2;
}

.fb a:hover {
  color: #4267b2;
}

.inst a:hover {
  color: #c13584;
}

.stopka {
  text-align: center;
}

.kontakt {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.kontakt a {
  color: black;
}

.kontakt a:visited {
  color: black;
}

.kontakt a:hover {
  color: grey;
}
