<div class="title">
  <h2>O mnie</h2>
</div>
<div class="o-mnie">
  <div class="hero">
    <img src="{{ mojeZdjecie }}" alt="" />
  </div>
  <div class="opis">
    <h3>
      Magdalena <br />
      Kordalewska
    </h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices
      et nulla vel vestibulum. Vivamus efficitur ultricies lectus, eu pulvinar
      urna laoreet sed. In efficitur tincidunt laoreet. Etiam tempus lacus
      nulla, vitae vulputate massa tristique commodo. Phasellus turpis arcu,
      lacinia et mauris eget, auctor tempus nisl. Donec vel risus metus. Donec
      auctor mi eu libero pretium fermentum. Sed dignissim facilisis vestibulum.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices
      et nulla vel vestibulum. Vivamus efficitur ultricies lectus, eu pulvinar
      urna laoreet sed. In efficitur tincidunt laoreet. Etiam tempus lacus
      nulla, vitae vulputate massa tristique commodo. Phasellus turpis arcu,
      lacinia et mauris eget, auctor tempus nisl. Donec vel risus metus. Donec
      auctor mi eu libero pretium fermentum. Sed dignissim facilisis vestibulum.
    </p>
  </div>
</div>
