<div class="title">
  <h2 style="color: #fff">O mnie</h2>
</div>
<div class="o-mnie">
  <div class="hero">
    <img src="{{ mojeZdjecie }}" alt="" />
  </div>
  <div class="opis">
    <h3>
      Magdalena <br />
      Kordalewska
    </h3>
    <p>
      Z urodzenia Warszawianka, z wyboru mieszkanka mazowieckiej wsi. Pierwszy
      aparat dostałam od dziadków, kupili mi zwykłego „japończyka” na kliszę. Z
      czasem pojawiła się pierwsza lustrzanka Canona i tak już zostało. W
      fotografii pociąga mnie przede wszystkim możliwość wyrażenia siebie, jak i
      to, że jest środowiskiem nieustająco zmiennym napędzającym do dalszej
      nauki, ciagłego rozwoju.
    </p>
    <!-- <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices
      et nulla vel vestibulum. Vivamus efficitur ultricies lectus, eu pulvinar
      urna laoreet sed. In efficitur tincidunt laoreet. Etiam tempus lacus
      nulla, vitae vulputate massa tristique commodo. Phasellus turpis arcu,
      lacinia et mauris eget, auctor tempus nisl. Donec vel risus metus. Donec
      auctor mi eu libero pretium fermentum. Sed dignissim facilisis vestibulum.
    </p> -->
  </div>
</div>
