<div class="photo">
  <img routerLink="{{ router }}" src="{{ imgUrl }}" alt="" />
  <h3>
    <!-- <a href="{{ routerUrl }}">{{ title }}</a> -->
    <a routerLink="{{ router }}">{{ title }}</a>
  </h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices
    et nulla vel vestibulum. Vivamus efficitur ultricies lectus, eu pulvinar
    urna laoreet sed. In efficitur tincidunt laoreet. Etiam tempus lacus nulla,
    vitae vulputate massa tristique commodo. Phasellus turpis arcu, lacinia et
    mauris eget, auctor tempus nisl. Donec vel risus metus. Donec auctor mi eu
    libero pretium fermentum. Sed dignissim facilisis vestibulum.
  </p>
</div>
