<div class="center">
  <div class="kontakt">
    <div class="nazwa"><h2>Kontakt</h2></div>
    <div class="opis">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
        ultrices et nulla vel vestibulum. Vivamus efficitur ultricies lectus, eu
        pulvinar urna laoreet sed. In efficitur tincidunt laoreet. Etiam tempus
        lacus nulla, vitae vulputate massa tristique commodo.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
        ultrices et nulla vel vestibulum. Vivamus efficitur ultricies lectus, eu
        pulvinar urna laoreet sed. In efficitur tincidunt laoreet. Etiam tempus
        lacus nulla, vitae vulputate massa tristique commodo.
      </p>
    </div>
    <div class="email">
      <a href="mailto:kordalewska.magda@gmail.com"
        >kordalewska.magda@gmail.com</a
      >
    </div>
  </div>
</div>
