.center {
  display: flex;
  justify-content: center;
}

.kontakt {
  width: 500px;
  margin: 30px 20px;

  background-color: rgb(224, 224, 224);
  padding: 20px;
  border: solid 2px rgb(166, 199, 192);
  border-radius: 10px;
}

.nazwa {
  text-align: center;
}

.opis {
  padding: 10px 40px;
}

.email {
  text-align: center;
  padding-top: 24px;
}

@media (min-width: 768px) {
  .opis {
    text-align: center;
  }

  .kontakt {
    margin-bottom: 80px;
  }
}
