<div class="start">
  <div class="wstep">
    <p style="color: #fff; font-weight: bold">
      „Chciałbym czasem znaleźć się w takim miejscu, gdzie Bóg czeka tylko, aby
      komuś otworzyć migawkę.“ — <i>Ansel Adams</i>
    </p>
  </div>
  <div class="galerie">
    <app-photo
      [router]="makroRouter"
      [imgUrl]="makroImg"
      [title]="makroTitle"
      [description]="makroDescription"
    ></app-photo>
    <app-photo
      [router]="produktowaRouter"
      [imgUrl]="produktowaImg"
      [title]="produktowaTitle"
      [description]="produktowaDescription"
    ></app-photo>
    <app-photo
      [router]="krajobrazyRouter"
      [imgUrl]="krajobrazyImg"
      [title]="krajobrazyTitle"
      [description]="krajobrazyDescription"
    ></app-photo>
    <app-photo
      [router]="ludzieRouter"
      [imgUrl]="ludzieImg"
      [title]="ludzieTitle"
      [description]="ludzieDescription"
    ></app-photo>
  </div>
</div>
