.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 0 20px;
}

.wstep {
  padding: 0 40px;
}

button {
  background-color: rgb(233, 247, 244);
  padding: 10px;
  margin: 0 10px;
  border: none;
  border-radius: 10px;
}
button img {
  width: 40px;
}

@media (min-width: 768px) {
  .wstep {
    padding: 0 30vw;
    text-align: center;
  }
  .wstep p {
    margin: 0 0 20px 0;
  }
  .galerie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
