<div class="start">
  <!-- <div class="wstep">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices
      et nulla vel vestibulum. Vivamus efficitur ultricies lectus, eu pulvinar
      urna laoreet sed. In efficitur tincidunt laoreet.
      {{ txt }}
    </p>
    <button (click)="add()">
      <img src="../../assets/icon/pl.png" alt="" />
    </button>
    <button (click)="show()">
      <img src="../../assets/icon/en.png" alt="" />
    </button>
  </div> -->
  <div class="galerie">
    <app-photo
      [router]="makroRouter"
      [imgUrl]="makroImg"
      [title]="makroTitle"
    ></app-photo>
    <app-photo
      [router]="produktowaRouter"
      [imgUrl]="produktowaImg"
      [title]="produktowaTitle"
    ></app-photo>
    <app-photo
      [router]="krajobrazyRouter"
      [imgUrl]="krajobrazyImg"
      [title]="krajobrazyTitle"
    ></app-photo>
    <app-photo
      [router]="ludzieRouter"
      [imgUrl]="ludzieImg"
      [title]="ludzieTitle"
    ></app-photo>
  </div>
</div>
