.galeria {
  margin-top: 50px;
  text-align: center;
}

.zdjecie {
  margin-top: 50px;
  width: 350px;
  height: auto;
}

@media (min-width: 768px) {
  .zdjecie {
    width: auto;
    max-height: 500px;
    margin: 10px;
  }

  .box {
    padding: 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
