<mat-drawer #drawer class="example-sidenav" opened>
  <button (click)="drawer.toggle()" mat-button>
    <fa-icon [icon]="faTimes" size="2x"></fa-icon>
  </button>
  <div class="menu">
    <h2><a routerLink="/o-mnie" (click)="drawer.toggle()">O mnie</a></h2>
    <hr width="60%" />
    <h2>Portfolio:</h2>
    <h2><a routerLink="/g-makro" (click)="drawer.toggle()">Makro</a></h2>
    <h2>
      <a routerLink="/g-produktowa" (click)="drawer.toggle()">Produktowa</a>
    </h2>
    <h2><a routerLink="/g-sesja" (click)="drawer.toggle()">Sesja</a></h2>
    <hr width="60%" />
    <h2><a routerLink="/kontakt" (click)="drawer.toggle()">Kontakt</a></h2>
  </div>
</mat-drawer>

<div class="example-sidenav-content">
  <h1><i routerLink="/">MKFotografia</i></h1>
  <button
    type="button"
    mat-button
    (click)="drawer.toggle()"
    style="display: flex !important ; flex-direction: column; justify-content: space-between; align-items: center;"
  >
    <fa-icon [icon]="faBars" size="2x"></fa-icon>
  </button>
</div>
