.mat-button {
  color: white;
}

.example-sidenav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.example-sidenav-content h1 {
  cursor: pointer;
}

.example-sidenav {
  width: 100%;
}

.example-sidenav button {
  z-index: 2;
  top: 37.5px;
  right: 20px;
  position: absolute;
}

.menu {
  background-color: rgb(224, 224, 224);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.menu a {
  color: black;
}

.menu a:visited {
  color: black;
}

.menu a:hover {
  color: grey;
}

.mat-button {
  padding: 8px 16px;
  line-height: 0;
}

@media (min-width: 768px) {
  .example-sidenav-content {
    padding: 20px 5vw;
  }

  .example-sidenav button {
    z-index: 2;
    top: 37.5px;
    right: 5vw;
    position: absolute;
  }

  hr {
    width: 30%;
  }
}
