.example-sidenav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.example-sidenav {
  width: 100%;
}

.example-sidenav button {
  top: 37.5px;
  right: 20px;
  position: absolute;
}

.menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.mat-button {
  padding: 8px 16px;
  line-height: 0;
}
