.example-container {
  height: 100%;
}

.heroImg {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  background-image: url("../assets/img/grass-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 70%;
  z-index: -1;
}
